.order{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
}
.order_form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding-left: 10px;
    height: 100%;
    min-height: 280px;
}
.order_images {
    width: 50%;
    border: 2px solid rgb(219, 219, 219);
    border-radius: 5px;
    min-height: 280px;
    padding: 5px;
    height: 100%;
}

@media screen and (max-width: 550px){
    .order{
        flex-direction: column;
    }
    .order_form{
        width: 100%;
        padding-top: 10px;
    }
    .order_images{
        width: 100%;
    }
}