.product{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
    min-height: 300px;
    border-radius: 5px;
    padding: 20px 5px;
    margin: 20px 0;
}
.product_images{
    width: 100%;
    height: 100%;
    position: relative;
    flex: 1 1;
    margin-bottom: 5px;
}