  .slider_container{
      width: 100%;
      height: auto;
      max-height: 60vh;
      position: relative;
  }
  .slider_placeholder{
    width: 100%;
    height: auto;
    max-height: 40vh;
    display: flex;
  }
  .slider_container > div {
      display: flex;
      width: 100%;
      min-height: inherit;
      max-height: inherit;
  }
  .slider_container > div > img {
      width: 100%;
      object-fit: cover;
  }
  .slider_dots{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 15px;
      position: absolute;
      top: 100%;
      left: 0;
      transform: translateY(-100%);
      /* background-color: rgba(0, 0, 0, 0.37); */
  }
  .dot {
    border: none;
    width: 8px;
    height: 8px;
    background: #141414;
    border-radius: 100%;
    margin: 0 10px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.2s;
  }
  
  .dot:focus {
    outline: none;
  }
  
  .dot_active {
    border: none;
    transition: 0.2s;
    outline: none;
    border: none;
    width: 6px;
    height: 6px;
    background: #e2e2e2;
    border-radius: 100%;
    margin: 0 10px;
    cursor: pointer;
  }
  @media screen and (max-width: 500px) {
   .slider_container{
     max-height: 65vh;
   }
  }