.login{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 5px;
}
 .login_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    border: 0.5px solid rgb(226, 226, 226);
    border-radius: 5px;
    overflow: hidden;
}
.login_options{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 0;
    position: relative;
}
.login_google{
    display: flex;
    width: 100%;
    transform: translateX(-150%);
    transition: 0.4s;
}
.login_username{
    display: flex;
    flex-direction: column;
    width: 100%;
    transform: translateX(150%); 
    transition: 0.2s;
}
.login_username > span{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 20px;
    text-transform: capitalize;
}
.login_username > span > span {
    width: 1px;
    background-color: teal;
    height: 15px;
}
.login_username > span > p {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    text-transform: capitalize;
    color: rgb(136, 142, 148);
    cursor: pointer;
    margin: 0;
}
.login_logo{
    padding-bottom: 10px;
}
.login_toggle{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}
.login_toggle > label {
    font-family: 'Roboto';
    font-weight: 500;
    padding-left: 10px;
    font-size: 11px;
    text-transform: capitalize;
    color: rgb(136, 142, 148);
    cursor: pointer;
    margin: 0;
    flex: 1 1;
}
.login_create_link{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 11px;
    text-transform: capitalize;
    text-decoration: underline;
    cursor: pointer;
    margin: 0;
}
.login_copyright{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 11px;
    color: rgb(136, 142, 148);
    padding-top: 10px;
    text-align: center;
    margin: 0;
}

@media screen and (max-width: 450px){
    .login main {
        padding: 20px 10px;
    }
} 