.password{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: auto;
}
.password_logo{
    padding-bottom: 20px;
}
.password > form > p{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 11px;
    color: rgb(136, 142, 148);
    padding: 5px 0;
    margin: 0;
}
.password > form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    border: 0.5px solid rgb(219, 219, 219);
}
.password_copyright{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 11px;
    color: rgb(136, 142, 148);
    padding-top: 10px;
    text-align: center;
    margin: 0;
}
@media screen and (max-width: 450px){
    .password > form{
        padding: 20px 10px ;
    }
}