.menu_tab{
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.menu{
    display: flex;
    align-items: center;
}
.menu > span {
    padding-right: 20px;
}
.menu_tab ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 180px;
    padding: 20px 0;
    border-radius: 5px;
    border: 0.5px solid rgb(207, 207, 207);
    position: absolute;
    margin-top: 5px;
    top: 120%;
    right: 0;
    z-index: 1;
    box-shadow: 0 0 5px rgba(2, 2, 2, 0.178);
}
.menu_tab ul > li {
    padding: 8px 20px;
    width: 100%;
    list-style: none;
    font-weight: 700;
    font-size: 12px;
    text-transform: capitalize;
    font-family: 'Roboto';
    border-bottom: 0.5px solid rgb(235, 235, 235);
    cursor: pointer;
}
.menu_tab ul li:hover{
    background-color: rgb(160, 160, 160);
    color: black;
} 
.menu_tab_overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.212);
}
.menu_tab_toggle_theme {
    display: flex;
    align-items: center;
}
.menu_tab_toggle_theme h4{
    padding: 8px 20px;
    width: 100%;
    margin: 0;
    font-weight: 700;
    font-size: 12px;
    text-transform: capitalize;
    font-family: 'Roboto';
}
.menu_tab_mobile_dropDown{
    display: none;
}
@media screen and (max-width: 600px) {
    .menu_tab_mobile{
        display: none;
    }
    .menu_tab_mobile_dropDown{
        display: flex;
    }
}

/* user tab */
.profile_tab{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border: 2px solid rgb(228, 228, 228);
    padding: 3px;
    border-radius: 100%;
    cursor: pointer;
}

.profile_tab_image{
    display: flex;
    height: 100%;
    width: 100px;
}
.profile_tab_image img {
    border-radius: 100%;
    width: 100%;
    object-fit: cover;
}
.profile_tab h1{
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 900;
    margin: 0;
    text-transform: uppercase;
    padding: 0;
}