.profile{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    border-radius: 5px;
}
.profile > header {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
}
/* --------------------------- */
.profile form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}
.profile_social_media__{
    display: flex;
}
.profile_social_media > ul{
    padding: 0 0 10px 10px;
    width: 100%;
    max-width: fit-content;
}
.profile_social_media_placeholder{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 11px;
    margin: 0;
    padding: 0 10px 10px 10px;
    color: rgb(13, 148, 148);
}
.profile_social_media > ul > li{
    display: flex;
    align-items: center;
    width: 100%;
    list-style: none;
    border: 0.5px solid rgb(212, 212, 212);
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
}
.profile_social_media > ul > li a {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 11px;
    margin: 0;
    padding: 0;
    padding: 0 10px;
} 
.date_of_birth{
    padding: 7px;
}
@media screen and (max-width: 500px) {
    .profile form {
        padding: 20px 0;
    }
}