.user{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    margin: 0 auto;
}
.user_header{
    width: 100%;
    padding-bottom: 10px;
}
.user_main{
    width: 100%;
}
@media screen and (max-width: 550px) {
    .user{
        padding: 20px 5px;
    }
}