
/* IMAGE SLIDER */
.image_gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 900px;
}
.image_gallery_div {
    display: flex;
    padding: 4px;
    height: 230px;
    transition: 0.3s;
    width: calc(100%/3);
}
.image_gallery_div > img {
    width: 100%;
    object-fit: cover;
}
@media screen and (max-width: 800px) {
    .image_gallery_div {
        height: 220px;
        transition: 0.3s;
    }
}
@media screen and (max-width: 700px) {
    .image_gallery_div {
        width: calc(100%/2);
        height: 250px;
        padding: 3px;
        transition: 0.3s;
    }
}
@media screen and (max-width: 550px) {
    .image_gallery_div {
        width: calc(100%/2);
        height: 200px;
        transition: 0.3s;
        padding: 2px;
    }
}
@media screen and (max-width: 450px) {
    .image_gallery_div {
        width: calc(100%/2);
        height: 150px;
        transition: 0.3s;
        padding: 2px;
    }
}
/* Main Gallery  */
.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 5px;
    max-width: 900px;
}
.gallery_div {
    display: flex;
    padding: 4px;
    height: 270px;
    transition: 0.3s;
    width: calc(100%/3);
    position: relative;
}
.gellery_span {
    display: flex;
    width: 100%;
}
.gallery_span_overlay{
    display: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4px;
}
.gallery_span_overlay > span {
    background-color: rgba(0, 0, 0, 0.24);
    width: 100%;
    transition: 0.4s;
    padding: 10px; 
}
.gallery_div:hover .gallery_span_overlay {
    display: flex;
    transition: 0.4s;
}
@media screen and (max-width: 800px) {
    .gallery_div {
        height: 250px;
        transition: 0.3s;
    }
}
@media screen and (max-width: 700px) {
    .gallery_div {
        width: calc(100%/2);
        height: 250px;
        transition: 0.3s;
    }
}
@media screen and (max-width: 600px) {
    .gallery_div {
        width: calc(100%/2);
        height: 220px;
        transition: 0.3s;
        padding: 2px;
    }
}
@media screen and (max-width: 450px) {
    .gallery_div {
        width: calc(100%/2);
        height: 150px;
        transition: 0.3s;
        padding: 2px;
    }
}